# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Poetry
poetry.toml

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# PyInstaller
*.manifest
*.spec

# Environments
.env
.env.*
.python-version

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo


